﻿
    /* button  bi hu roi cac ban oi*/
    /* U hoa biet roi Nguyet oi*/
	/* Nguyet sua nua do nhe*/
<<<<<<< HEAD
	/* Linh cung muon sua nua*/
=======
	/* Nguyet sua nua do nhe*/
>>>>>>> Nguyetcss333
/*Lnh đây rồi*/
    .button {
      /*  display: block;
        border: none;
        background: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        z-index: 1;
    }
    .button.button {
        overflow: hidden;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }
    .button::before,
    .button::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 100%;
        left: 0;
        z-index: -1;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }

    .button::before {
        background: rgb(117, 176, 186);;
    }

    .button::after {
        background: rgb(98, 163, 177);
    }

    .button:hover {
        color: #fff;
    }

    .button:hover::before,
    .button:hover::after {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .button:hover::after {
        -webkit-transition-delay: 0.175s;
        transition-delay: 0.175s;
    }
/*Product*/
    .products {
        list-style: none;
        position: relative;
        margin: 0 auto;
        padding: 0;
    }
    .bgr-button .btn {
            color: rgb(255, 255, 255);
        background-color: rgb(137, 187, 196); 
        letter-spacing: 1px;
        padding: 8px 20px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
    }

    .bgr-button ul {
        padding: 0 !important;
        margin: 0 0 40px !important;
    }
    /* hiệu ứng*/
    .hovereffect {
      width: 100%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;
      text-align: center;
      cursor: default;
    }

    .hovereffect .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      background-color: rgba(0,0,0,0.5);
      -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
      transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    }

    .hovereffect img {
      display: block;
      position: relative;
      -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
      transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
    }

    .hovereffect h2 {
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      position: relative;
      font-size: 17px;
      background: rgb(137, 187, 196);
      -webkit-transform: translatey(-100px);
      -ms-transform: translatey(-100px);
      transform: translatey(-100px);
      -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
      transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
      padding: 10px;
    }

    .hovereffect a.info {
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: all 0.4s ease;
      transition: all 0.4s ease;
      margin: 50px 0 0;
      padding: 7px 14px;
    }

    .hovereffect a.info:hover {
      box-shadow: 0 0 5px #fff;
    }

    .hovereffect:hover img {
      -ms-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    .hovereffect:hover .overlay {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .hovereffect:hover h2,.hovereffect:hover a.info {
      opacity: 1;
      filter: alpha(opacity=100);
      -ms-transform: translatey(0);
      -webkit-transform: translatey(0);
      transform: translatey(0);
    }

    .hovereffect:hover a.info {
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }